
<div *ngIf="flag" class="alert alert-success">
  {{message}}
  </div>
<!-- Table Started -->
<table class="table table-striped">
    <thead class="thead-dark ">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">City</th>
        <th scope="col">Pin Code</th>
        <th scope="col">Action</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let farmer of farmers">
        <th scope="row">{{farmer.id}}</th>
        <td>{{farmer.firstName}}</td>
        <td>{{farmer.lastName}}</td>
        <td>{{farmer.email}}</td>
        <td>{{farmer.address.city}}</td>
        <td>{{farmer.address.pinCode}}</td>
        <td>
           <button class="btn btn-primary" (click)="editFarmer(farmer.id)">Edit</button>
           &nbsp;
           <button class="btn btn-danger" (click)="deleteFarmer(farmer.id)">Delete</button>
        </td>
       
      </tr>
      
    </tbody>
  </table>
<!-- Table Ended -->